<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @tipo_egreso.descripcion %>
</p>


<%= link_to 'Edit', edit_tipo_egreso_path(@tipo_egreso) %> |
<%= link_to 'Back', tipo_egresos_path %>
