<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @tipo_ingreso.descripcion %>
</p>


<%= link_to 'Edit', edit_tipo_ingreso_path(@tipo_ingreso) %> |
<%= link_to 'Back', tipo_ingresos_path %>
